
/* Start About Page style */
body {
margin: 0;

}

header {
background: #ffffff;
font-family: Georgia, 'Times New Roman', Times, serif;
background: #ffffff;
}


#top {
    width: 960px;
    margin: 0 auto;
}

.aboutme {
background: #4aaaa5;
color: #ffffff;
width: 300px;
text-align: center;
float: left;

}

ul {
    float: right;
    color: #777777;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    

}

li {
list-style-type: none;
display: inline;
margin: 0 0 0 30px;
}

article {
    clear: both;
    border-top: solid 2px;
    border-color: #cccccc;
    background-image: url(../images/stripes-light.png);
    background-repeat: repeat;
    padding-bottom: 100%;
    /* added padding-bottom above */

}

#main {
    min-height: 500px;
    width: 960px;
    margin: 30px auto;
    background:#ffffff;
    border: solid 2px;
    border-color: #dddddd;
    
}

.main-title {
    border-bottom: solid 2px;
    border-color: #dddddd;
    margin: 0 50px 50px 50px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.profilepic {
    float: left;
}

img {
    width: 200px;
    margin: 0 50px;
    
}

.main-text {
margin: 0 50px 0 300px;
font-family: Georgia, 'Times New Roman', Times, serif;
color: #777777;
}


footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #666666;
   border-top: solid 8px;
   border-color: #4aaaa5;
   color: #ffffff;
   text-align: center;

}

#bottom {


}

/* End About Page Style */